[Unit]
Description=KRadiator-Dashbard integration agent to listen monitor service events

[Service]
Type=simple
TimeoutSec=infinity
KillMode=process
ExecStart=/home/pagero/apps/kradiatoragent/DashboardAgent /home/pagero/apps/kradiatoragent/config.json

[Install]
WantedBy=multi-user.target

